.App {
  text-align: center;
  color: rgb(187, 31, 31);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(187, 31, 31);
}

.App-link {
  color: #00b9ec;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  display: flex;
  margin: auto;
  flex-basis: 2%;
  background-color: rgb(18, 123, 214);
  padding: 1rem;
}
.faq h2 {
  color: rgb(218, 15, 15);
}
.faqitems {
  border: 1px solid red;
  margin-top: 20px;
}
.faqitems h2 {
  margin: 0px;
  padding: 10px;
  background-color: #00b9ec;
  color: white;
  cursor: pointer;
  text-align: left;
}
.faqitems p {
  text-align: left;
  height: 0px;
  transform: scaleY(0);
  padding: 0px;
  transition: 0.5s;
  margin: 0px;
}
.activeAns {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
  margin: 0px;
  color: #00b9ec;
}
.tabbing {
  margin: auto;
  width: 1170px;
  text-align: center;
}
.tabbing h2 {
  font-size: 24px;
}
.tabbing ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.tabbing ul li {
  margin: 0px 10px;
}
.tabbing ul li button {
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  font-style: italic;
  font-weight: bold;
}
.activeColor {
  background-color: red !important;
}
.tabbing p {
  text-align: left;
  font-size: 20px;
}
